h1 {
    background-color: #000000;
    color: #FFFFFF;
    text-transform: uppercase; 
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 200%;
    margin: 10px; 
    padding: 20px;  
    font-weight: 400; 
}

body { 
    font-family: 'serif';
    font-size: 125%;
    text-align: center; 
    margin-left: 75px;
    margin-right: 50px;
}

ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
   font-family: 'Montserrat', sans-serif;
    text-align: center; 
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: .125em;
    font-size: 14px;
    border-bottom-style: solid;
    border-bottom-width: thin;
    text-decoration: none;
}

ul.main-menu>li {
    display: inline;
     text-align: center; 
    text-decoration: none;
}

ul.sub-menu>li {
   list-style-type: none;
    margin: 0;
    padding: 0;
   font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    line-height: 60px;
    letter-spacing: .125em;
    font-size: 14px; 
    text-decoration: none;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center; 
    text-style: italic; 
}
p.original {
background-color: #DCDCDC; 
}

a:link {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    text decoratioin: underline;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

table { margin: 0 auto; }

th { text-align: center; 
     background-color: black;
     color: white;}

iframe { display: block;
     margin-left: auto;
     margin-right: auto;
     align: center;}

