body { 
    font-family: 'serif';
    font-size: 125%;
}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 90%; 
    text-align: center; 
}
ul.main-menu>li {
    display: inline;
     text-align: center; 
}
ul.sub-menu {
     display: inline;
     font-family: 'Nanum Gothic Coding', monospace;
     font-size: 90%; 
}
title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 120%;
    text-align: center; 
}
