body { 
    font-family: 'Brandon Grotesque', 'times', serif;
    font-size: 120%;
}
ul.main-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
ul.main-menu>li {
    display: inline;
}
ul.sub-menu {
     display: inline;
}

